<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Backgammon</title>

    <link rel="stylesheet" href="static/style.css" type="text/css">

  </head>
  <body>
    <h1>Backgammon</h1>
    <div id="container">
      <canvas id="game" width="800" height="600">
    </div>
    <div id="dice">
      <canvas id="diceA" width="50" height="50"></canvas>
      <canvas id="diceB" width="50" height="50"></canvas>
      <form action="/game" method="post">
        <input type="submit" name="submit" id="submit" value="roll dice" />
      </form>
    </div>
  </body>
  <script src="static/backgammon.js" charset="utf-8"></script>
</html>
